* text
*.snk binary
*.pdf binary
*.docx binary
*.png binary
*.xlsx binary
*.pptx binary
*.ppt binary

*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.xml text eol=lf working-tree-encoding=UTF-8
*.verified.json text eol=lf working-tree-encoding=UTF-8