* text
*.snk binary
*.pdf binary
*.docx binary
*.png binary
*.xlsx binary
*.pptx binary
*.ppt binary

*.verified.html text eol=lf working-tree-encoding=UTF-8
*.verified.htm text eol=lf working-tree-encoding=UTF-8
*.verified.md text eol=lf working-tree-encoding=UTF-8
*.verified.txt text eol=lf working-tree-encoding=UTF-8

.editorconfig text eol=lf working-tree-encoding=UTF-8
Shared.sln.DotSettings text eol=lf working-tree-encoding=UTF-8